h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
p {
  margin-bottom: 2em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1em;
}

a {
  color: $main-clr;
  transition: opacity 0.4s ease;
  &:active {
    opacity: 0.8;
  }
}
