// Elements from WordPress

// Color from theme support 'editor-color-palette' inside functions.php
// $colors: (
//   "boilerplate-slug-main": $main-clr,
//   "boilerplate-slug-mid": $mid
// );
// @each $name, $color in $colors {
//   .has-#{$name}-color {
//     color: $color;
//   }
//
//   .has-#{$name}-background-color {
//     background-color: $color;
//   }
// }

.pagination {
  text-align: center;
  > * {
    display: inline-block;
    padding: 12px 24px;
    background: $main-clr;
    color: $light;
    border: 2px solid $light;
    cursor: pointer;
    transition: 0.4s ease;
    text-decoration: none;
    &:hover {
      opacity: 1;
      background: $mid;
      border-color: $main-clr;
      color: $main-clr;
    }
    &.current {
      background: $mid;
      border-color: $main-clr;
      color: $main-clr;
      cursor: default;
    }
  }
}

.jr_comment_list {
  padding: 0;
  li {
    list-style: none;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  ul {
    border-left: 2px solid $main-clr;
  }
}
.comment-form {
  label {
    display: block;
  }
  .comment-form-cookies-consent {
    label {
      display: inline-block;
      margin-left: 10px;
    }
  }
}
