@import "modules/variables";
@import "modules/mixins";
@import "modules/keyframes";

@import "partials/normalize";
@import "partials/elements";
@import "partials/wordpress";
@import "partials/typo";

@import "pages/home";

::selection {
  background: $main-clr;
}
* {
  box-sizing: border-box;
}
html,
body,
main {
  height: 100%;
}
body {
  background-color: $mid;
  font-family: $main-font;
  &.browser-warning {
    main {
      background: orange;
    }
  }
}

main {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  background-color: $mid;
  // content grid with
  > nav,
  > footer,
  > div.container {
    > div {
      padding: 2em 1em;
      margin: auto;
      max-width: $desktop;
    }
  }
  > div.container {
    // stretch so footer stays stuck to botton
    flex: 1 0 auto;
    > div {
      > .content {
        position: relative;
        // gutenberg wide & full alignments
        > .alignfull {
          margin-left: calc(50% - 50vw);
          width: 100vw;
          // override for WordPress blocks
          max-width: 100vw;
        }
        $wide-offset: 50px;
        > .alignwide {
          margin-left: -$wide-offset;
          margin-right: -$wide-offset;
          width: calc(100% + #{2 * $wide-offset});
          // override for WordPress blocks
          max-width: calc(100% + #{2 * $wide-offset});
        }
      }
    }
  }
  > footer {
    background: $main-clr;
    color: $light;
    a {
      color: inherit;
    }
  }
}
